@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

body {
    overflow-x: hidden;    
    line-height: 1.8em;
    background-color: #FFFFFF; 
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}

p{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

.center{
    text-align: center;
}

/* Layout da Caderneta */
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -12rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;    
}

#sidebar-wrapper, .list-group-item, .sidebar-heading{
    background-color: #54A4A6; 
    color: white;
}

.sidebar-heading{
    text-align: center;
}
.sidebar-heading img{    
    border-radius: 50px; 
    width: 80px;   
}

.content{
    width: 100%;
    padding: 25px;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.3rem;
}

#sidebar-wrapper .list-group {
    width: 12rem;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle{
    background-color: white;
    border: none;
    background-image: url('../IMG/ICON/threelines.png');
    width: 30px;
    height: 30px;
}

#page-content-wrapper {
    width: 100vw;
}

#capa{
    width: 100%;
    padding: 5%;
    text-align: center;
    background-color: #54A4A6;
}

#profile{    
    width: 250px;  
}

.column-config{
    width: 150px;
    height: 150px;
    line-height: 100px;
    margin: 15px;
}

.vacina{
    width: 335px;
    padding: 15px;
    margin: 20px;
    background-color: whitesmoke;
    color: black; 
}

.bold{
    font-weight: bold;
}

.icone{
    margin-right: 5px;
}

.head{
    text-align: center;
    padding: 5%;
}

.configuracao{
    height: 150px;
    width: 150px;
    background-color: darkgrey;
    margin: 5px;
}

.panel-group{
    color: #54A4A6;
}

.panel{
    margin-bottom: 25px;  
}

.panel-body{
    margin-bottom: 50px;
}

.panel-title h4 a{
    text-decoration: none;
}



/* Essencial para o funcionamento do toggler  */
@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;      
    }
  
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -12rem;
    }
    
}

