section{
    padding-top: 3%;
    text-align: justify;
}

section h3{
    color:#20B2AA;
    padding-bottom: 5px;
    border-bottom: 1px solid #20B2AA;
}

label{
    font-weight: bold;
    margin-top: 10px;
}

.align-center{
    margin: 0 auto;
}

.txtcolor{
    color: #20B2AA;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.container-body{
    width: 100%;
    padding: 5% 15%; 
}

.container-head{
    width: 100%;
}

.banner{
    text-align: center;
    background: #20B3AB;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #20B3AB 0%, #196FBF 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #20B3AB 0%, #196FBF 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg, #20B3AB 0%, #196FBF 100%);
    background: linear-gradient(45deg, #20B3AB 0%, #196FBF 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#20B3AB', endColorstr='#196FBF', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */;
    color: white;
    padding: 10%;
}

.middle{
    position: relative;
    top: 75%;
}

.limpeza{
    clear: both;  
    overflow: auto;   
}

.center{
    text-align: center;
}

.float-left{
    text-align: left;
}

.float-right{
    text-align: right;
}

@media (max-width: 767.98px) {     
    .container-body{    
        padding: 5%;        
    }    
}

