@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
/*ELEMENTOS HTML*/

body{   
    line-height: 1.8em;
    background-color: #FFFFFF;    
}


section{
    padding-top: 3%;
}

section h3{
    color:#20B2AA;
    padding-bottom: 5px;
    border-bottom: 1px solid #20B2AA;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;    
    margin-bottom: 15px;
}

p{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

label{
    font-weight: bold;
    margin-top: 10px;
}

figcaption{
    text-align: center;
    color: gray;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 15px;
}


/* INDEX */
.gelo{
    background-color: whitesmoke;
}

.action{
    text-align: center;    
    padding-top: 25px;     
    margin: 20px;    
}

.action img{
    width: 25%;
    height: auto;
    margin-bottom: 15px;   
}

.align-center{
    margin: 0 auto;
}

.txtcolor{
    color: #20B2AA;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.logo-index{
    margin: 0 auto;
    text-align: center;
    width: 35%;
}

/*CLASSES*/
.container-body{
    width: 100%;
    padding: 5% 15%; 
}

.container-head{
    width: 100%;
}

.banner{
    text-align: center;   
    color: white;
    padding: 10%;
    background: #20B3AB;   
    background: -moz-linear-gradient(45deg, #20B3AB 0%, #196FBF 100%);    
    background: -webkit-linear-gradient(45deg, #20B3AB 0%, #196FBF 100%);
    background: -o-linear-gradient(45deg, #20B3AB 0%, #196FBF 100%);
    background: linear-gradient(45deg, #20B3AB 0%, #196FBF 100%);    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#20B3AB', endColorstr='#196FBF', GradientType=1);   
}

.middle{
    position: relative;
    top: 75%;
}

.limpeza{
    clear: both;  
    overflow: auto;   
}

.center{
    text-align: center;
}

.float-left{
    text-align: left;
}

.float-right{
    text-align: right;
}


.container-login, .container-cadastro{
    background-color: white;        
    padding: 4%;
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 5%;
}

.gradiente{
    background-image: linear-gradient(to bottom, transparent, #20B2AA 120%);
    padding-bottom: 100px;
    height: 100%;
}

.logo{
    background-image: url('../IMG/LOGO/brand.png');
    width: 100px;  
}


/* NAVBAR */
.nav-item{
    font-family: 'Roboto', sans-serif;    
    padding: 5px 5px;
}

.nav-link{
    text-decoration: none;
    color: black;
}

.nav-link:hover{
    background-color: #20B2AA;
    color: black;
}

.nav-color{
    background-color: whitesmoke;
}

.navbar-toggler-icon{
    background-image: url('../IMG/ICON/menu.png');
    width: 32px;
}

.navbar{
    padding: 10px 5%;
}

/*IMAGENS*/
.img-center{   
    margin: 0 auto;
    display: block;
    position: relative;
}

.img-profile{
    max-width: 200px;
}

.profile{
    margin-bottom: 50px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .container-login, .container-cadastro{    
        width: 90%;        
    }    

    .container-body{    
        padding: 5%;        
    }    
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

}

/* Extra large devices (large desktops)
No media query since the extra-large breakpoint has no upper bound on its width */